.p-access{
    &__title{
        text-align: center;
        margin-top: 280px;
    }
    &__map{
        margin: 0 auto;
        margin-top: 35px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &-image{
            width: 500px;
        }
    }
    &__text{
        width: 80%;
        margin: 0 auto;
        margin-top: 60px;
        font-size: $pc-text;
        line-height: $pc-text-lh;
    }
}