.c-humMenu{
    display: block;
    position: relative;
    
    &__modal{
        display: none;
        width: 100%;
        height: 100vh;
        background-color: $bg-humMenu;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        &-items{
            width: 80%;
            height: fit-content;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        &-item{
            font-size: $sp-title;
            width: fit-content;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
            text-align: left;
        }

        @keyframes openMenu{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        &.open{
            display: block;
            animation: openMenu .5s;
        }
    }
}


