* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Hannari", serif;
  background-color: #050D1C;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.l-header {
  width: 100%;
  height: 70px;
  background-color: rgba(5, 13, 28, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
}

.l-footer {
  width: 100%;
  background-color: #031C46;
  margin-top: 211px;
}

.c-header {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.c-header__logo {
  width: 58px;
}

.c-header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-header__nav-item {
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 70px;
}

.c-footer__nav {
  padding-top: 68px;
}

.c-footer__nav-items {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer__address {
  width: 80%;
  margin: 0 auto;
  margin-top: 44px;
}

.c-footer__copyright {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.c-footer__inquiry {
  display: block;
  color: #2C5FC5;
  text-decoration: underline;
}

.c-Button {
  display: inline-block;
  width: 400px;
  height: 80px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-size: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-Button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.c-Button__icon path {
  fill: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-Button.-cruise {
  background-color: #DC5A69;
  color: #FFFFFF;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
}

.c-Button.-cruise:hover {
  background-color: #FFFFFF;
  color: #DC5A69;
}

.c-Button.-cruise:hover path {
  fill: #DC5A69;
}

.c-Button.-access {
  background-color: #D5AA35;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 70px;
}

.c-Button.-access:hover {
  background-color: #FFFFFF;
  color: #D5AA35;
}

.c-Button.-access:hover path {
  fill: #D5AA35;
}

.c-humMenu {
  display: none;
}

.c-humMenu__modal {
  display: none;
}

.p-mainVisual {
  width: 100%;
  height: 100vh;
  background: url(../image/mainVisual.jpg) no-repeat center/cover;
  position: relative;
  z-index: 1;
}

.p-mainVisual__text {
  font-size: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  left: 80px;
  line-height: 90px;
  z-index: 3;
}

.p-mainVisual__text .-br {
  display: inline-block;
}

.p-mainVisual__text .-big {
  font-size: 80px;
}

.p-mainVisual__text .-medium {
  font-size: 70px;
}

.p-mainVisual__text .-small {
  font-size: 40px;
  line-height: 30px;
}

.p-mainVisual__text .-red {
  color: #DC5A69;
}

.p-mainVisual__text .-yellow {
  color: #D5AA35;
}

.p-mainVisual::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #050D1C;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-fireWorks__title {
  text-align: center;
  margin-top: 160px;
}

.p-fireWorks__text {
  width: 80%;
  bottom: 40px;
  font-size: 24px;
  line-height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
}

.p-fireWorks__text-bg {
  width: 100%;
  height: 100vh;
  background: url(../image/fireWorks-bg.jpg) no-repeat center/cover;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.p-fireWorks__text-bg::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #050D1C;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-cruise__title {
  text-align: center;
  margin-top: 160px;
}

.p-cruise__text {
  width: 80%;
  margin: 0 auto;
  padding-top: 170px;
  font-size: 24px;
  line-height: 48px;
}

.p-cruise__text-bg {
  width: 100%;
  min-height: 800px;
  background: url(../image/cruise-bg.jpg) no-repeat center/cover;
  margin-top: 50px;
  position: relative;
}

.p-cruise__imageSp {
  display: none;
}

.p-date {
  min-height: 880px;
  margin-top: 280px;
  background: url(../image/date-bg.jpg) no-repeat center/cover;
  position: relative;
}

.p-date::after {
  content: "";
  width: 100%;
  min-height: 880px;
  background-color: #050D1C;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-date__title {
  text-align: center;
  padding-top: 70px;
  position: relative;
  z-index: 3;
}

.p-date__map {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  opacity: 0.8;
  position: relative;
  z-index: 3;
}

.p-date__map img {
  height: 400px;
}

.p-date__info {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  font-size: 24px;
  position: relative;
  z-index: 3;
}

.p-date__info-date-warn {
  font-size: 20px;
  margin-top: 37px;
}

.p-date__info-date, .p-date__info-place {
  width: 455px;
  margin: 0 auto;
}

.p-date__info-date span, .p-date__info-place span {
  display: inline-block;
}

.p-date__info-warn {
  display: none;
}

.p-access__title {
  text-align: center;
  margin-top: 280px;
}

.p-access__map {
  margin: 0 auto;
  margin-top: 35px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-access__map-image {
  width: 500px;
}

.p-access__text {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 24px;
  line-height: 48px;
}

.p-sns {
  width: 100%;
  background: url(../image/sns-bg.jpg) no-repeat center/cover;
  margin-top: 280px;
  position: relative;
}

.p-sns::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #050D1C;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-sns__title {
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
  position: relative;
  z-index: 3;
}

.p-sns__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 3;
}

.p-sns__content {
  -webkit-transition: .3s;
  transition: .3s;
}

.p-sns__content path {
  -webkit-transition: .3s;
  transition: .3s;
}

.p-sns__content.-yellow {
  color: #D5AA35;
}

.p-sns__content.-yellow path {
  fill: #D5AA35;
}

.p-sns__content.-yellow:hover {
  color: #FFFFFF;
}

.p-sns__content.-yellow:hover path {
  fill: #FFFFFF;
}

.p-sns__content.-red {
  color: #DC5A69;
}

.p-sns__content.-red path {
  fill: #DC5A69;
}

.p-sns__content.-red:hover {
  color: #FFFFFF;
}

.p-sns__content.-red:hover path {
  fill: #FFFFFF;
}

.p-sns__icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-sns__id {
  margin-top: 26px;
  margin-bottom: 48px;
}

.p-twitter__title {
  text-align: center;
  margin-top: 280px;
}

.p-twitter__text {
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.p-twitter__api {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .l-footer {
    margin-top: 100px;
  }
  .c-header__nav {
    display: none;
  }
  .c-footer__nav {
    display: none;
  }
  .c-footer__address {
    font-size: 14px;
    margin: 0 auto;
    padding: 44px 0;
  }
  .c-footer__address .-br {
    display: inline-block;
  }
  .c-footer__address .-sp {
    margin-top: 22px;
  }
  .c-footer__copyright {
    padding-bottom: 32px;
  }
  .c-Button {
    width: 300px;
    height: 60px;
    font-size: 16px;
  }
  .c-Button.-cruise {
    position: static;
    margin-top: 32px;
  }
  .c-Button.-access {
    margin-top: 32px;
  }
  .c-humMenu {
    display: block;
    position: relative;
  }
  .c-humMenu__modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 13, 28, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .c-humMenu__modal-items {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .c-humMenu__modal-item {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    text-align: left;
  }
  @-webkit-keyframes openMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes openMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .c-humMenu__modal.open {
    display: block;
    -webkit-animation: openMenu .5s;
            animation: openMenu .5s;
  }
  @-webkit-keyframes hnb {
    0% {
      border-radius: 1px;
      width: 2px;
      height: 2px;
      border: 6px dotted darkyellow;
      top: 200px;
      left: 150px;
    }
    50% {
      border-radius: 1px;
      width: 2px;
      height: 2px;
      border: 6px dotted yellow;
      top: 0px;
      left: 150px;
    }
    70% {
      border-radius: 60px;
      width: 120px;
      height: 120px;
      border: 6px dotted blue;
      top: -60px;
      left: 90px;
    }
    90% {
      border-radius: 100px;
      width: 200px;
      height: 200px;
      border: 8px dotted red;
      top: -100px;
      left: 50px;
    }
    100% {
      border-radius: 100px;
      width: 200px;
      height: 200px;
      border: 8px dotted #ff000000;
      top: -80px;
      left: 50px;
    }
  }
  @keyframes hnb {
    0% {
      border-radius: 1px;
      width: 2px;
      height: 2px;
      border: 6px dotted darkyellow;
      top: 200px;
      left: 150px;
    }
    50% {
      border-radius: 1px;
      width: 2px;
      height: 2px;
      border: 6px dotted yellow;
      top: 0px;
      left: 150px;
    }
    70% {
      border-radius: 60px;
      width: 120px;
      height: 120px;
      border: 6px dotted blue;
      top: -60px;
      left: 90px;
    }
    90% {
      border-radius: 100px;
      width: 200px;
      height: 200px;
      border: 8px dotted red;
      top: -100px;
      left: 50px;
    }
    100% {
      border-radius: 100px;
      width: 200px;
      height: 200px;
      border: 8px dotted #ff000000;
      top: -80px;
      left: 50px;
    }
  }
  .hnbdm {
    display: inline-block;
    position: absolute;
    color: white;
    -webkit-animation: hnb 5s linear infinite normal;
            animation: hnb 5s linear infinite normal;
  }
  @-webkit-keyframes hanabi {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
    20% {
      opacity: 0.6;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      opacity: 0.5;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2) translateY(20px);
              transform: scale(1.2) translateY(20px);
    }
  }
  @keyframes hanabi {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
    20% {
      opacity: 0.6;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      opacity: 0.5;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.2) translateY(20px);
              transform: scale(1.2) translateY(20px);
    }
  }
  .hanabi {
    width: 80%;
    position: absolute;
    -webkit-animation-name: hanabi;
            animation-name: hanabi;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hanabi img {
    width: 100%;
  }
  .p-mainVisual {
    background-position: 35% 20%;
  }
  .p-mainVisual__text {
    font-size: 24px;
    line-height: 40px;
    left: 32px;
    bottom: 85px;
  }
  .p-mainVisual__text .-small {
    font-size: 20px;
    line-height: 28px;
  }
  .p-mainVisual__text .-medium {
    font-size: 28px;
  }
  .p-mainVisual__text .-big {
    font-size: 36px;
  }
  .p-mainVisual.-cruise {
    position: static;
  }
  .p-fireWorks__title {
    font-size: 22px;
  }
  .p-fireWorks__text {
    font-size: 14px;
    line-height: 28px;
  }
  .p-fireWorks__text-bg {
    background-position: 25% 20%;
  }
  .p-cruise__title {
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 32px;
    text-align: left;
  }
  .p-cruise__title span {
    display: inline-block;
  }
  .p-cruise__text {
    padding: 0;
    padding-top: 40px;
    font-size: 14px;
    line-height: 28px;
  }
  .p-cruise__text-bg {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 0;
    background: none;
  }
  .p-cruise__imageSp {
    display: block;
  }
  .p-date {
    margin-top: 120px;
    background: none;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .p-date::after {
    display: none;
  }
  .p-date__title {
    font-size: 22px;
    padding-top: 18px;
  }
  .p-date__map {
    width: 90%;
    min-height: 145px;
    padding-top: 18px;
    padding-bottom: 32px;
    position: relative;
  }
  .p-date__map img {
    height: auto;
  }
  .p-date__info {
    width: 85%;
    font-size: 20px;
    line-height: 30px;
    margin-top: 32px;
  }
  .p-date__info-warn {
    display: block;
    margin-top: 22px;
    font-size: 14px;
    line-height: 28px;
  }
  .p-date__info-date-warn.-sp {
    display: none;
  }
  .p-date__info-place {
    margin-top: 42px;
  }
  .p-date__BG {
    background: url(./../image/date-bg.jpg) no-repeat center/cover;
  }
  .p-date__BG::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #050D1C;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
  }
  .p-access__title {
    margin-top: 120px;
    font-size: 22px;
  }
  .p-access__text {
    font-size: 14px;
    line-height: 28px;
    margin-top: 40px;
  }
  .p-access__map {
    width: 90%;
  }
  .p-sns {
    margin-top: 120px;
  }
  .p-sns__title {
    font-size: 22px;
    padding-top: 16px;
  }
  .p-sns__contents {
    margin-top: 42px;
  }
  .p-twitter__title {
    margin-top: 120px;
    font-size: 22px;
  }
  .p-twitter__text {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 18px;
  }
  .p-twitter__text span {
    display: inline-block;
  }
  .p-twitter__api {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */