// font size
//// mainVisual
$pc-mainV: 60px;
$pc-mainV-large: 80px;
$pc-mainV-medium: 70px;
$pc-mainV-small: 40px;

$sp-mainV: 24px;
$sp-mainV-large: 36px;
$sp-mainV-medium: 28px;
$sp-mainV-small: 20px;

//// section
$pc-title: 40px;
$pc-text: 24px;
$pc-text-lh: 48px;
$pc-button: 24px;

$sp-title: 22px;
$sp-text: 14px;
$sp-text-lh: 28px;
$sp-button: 16px;

// 日時・会場のフォントサイズ
$sp-text-warn: 20px;
$sp-text-warn-lh: 30px;

//// footer
$pc-nav: 20px;
$pc-copyright:16px;

$sp-nav: 14px;
$sp-copyright:12px;
